<h1>Add Movie</h1>
<form>
	<fieldset class="form-group">
		<label for="title">Title</label>
		<input class="form-control" type="text" id="title" name="title" ng-model="movie.title">
	</fieldset>

	<fieldset class="form-group">
		<label for="description">Description</label>
		<input class="form-control" type="text" id="description" name="description" ng-model="movie.description">
	</fieldset>

	<fieldset class="form-group">
		<label for="content">Content</label>
		<textarea class="form-control" type="text" id="content" name="content" ng-model="movie.content"></textarea>
	</fieldset>

	<input type="submit" value="{{isSubmitting ? 'Saving...' : 'Save'}}" class="btn btn-default" ng-click="saveMovie(movie)" ng-disabled="isSubmitting">
</form>