<!doctype html>
<html ng-app="MovieApp">
	<head>
		<title>Interactive Movie App</title>
		<link rel="stylesheet" href="assets/css/bootstrap.min.css">
		<link rel="stylesheet" href="assets/css/bootstrap-theme.min.css">
	</head>

	<body>
		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class="navbar-header">
					<div class="navbar-brand">
						<a href="/#/">Movie App</a>
					</div>
				</div>
				<ma-page-nav></ma-page-nav>
			</div>
		</nav>
		<div ng-view class="container-fluid"></div>
	</body>

	<!-- Vendor -->
	<script src="assets/js/vendor/jquery-1.11.3.min.js"></script>
	<script src="assets/js/vendor/angular.js"></script>
	<script src="assets/js/vendor/angular-route.js"></script>
	<script src="assets/js/vendor/angular-resource.js"></script>

	<!-- App -->
	<script src="assets/js/app.js"></script>
	<script src="assets/js/routes.js"></script>

	<!-- Directives -->
	<script src="assets/js/directives/maPageNav.js"></script>

	<!-- Controllers -->
	<script src="assets/js/controllers/moviesIndexController.js"></script>
	<script src="assets/js/controllers/moviesShowController.js"></script>
	<script src="assets/js/controllers/moviesEditController.js"></script>
	<script src="assets/js/controllers/moviesCreateController.js"></script>
	<script src="assets/js/controllers/usersIndexController.js"></script>
	<script src="assets/js/controllers/usersShowController.js"></script>

	<!-- Services -->
	<script src="assets/js/services/movie.js"></script>
	<script src="assets/js/services/category.js"></script>
	<script src="assets/js/services/user.js"></script>
</html>